<img src="../assets/restApi.png" width="300px" height="300px" class="img-responsive center-block" />
<table style="width:100%">
  <tr>
    <th>
      <p align="center">Servidor</p>
      <a href="https://github.com/jorgechavezrnd/SimpleSchedulingService" target="_blank"><img src="{{imagenes[1].direccion}}" width="300px" height="300px" class="img-responsive center-block" /></a>
    </th>
    <th>
      <p align="center">Cliente estudiantes</p>
      <a href="https://github.com/jorgechavezrnd/EstudiantesPHP" target="_blank"><img src="{{imagenes[2].direccion}}" width="300px" height="300px" class="img-responsive center-block" /></a>
    </th>
    <th>
      <p align="center">Cliente clases</p>
      <a href="https://github.com/jorgechavezrnd/ClasesPHP" target="_blank"><img src="{{imagenes[2].direccion}}" width="300px" height="300px" class="img-responsive center-block" /></a>
    </th>
  </tr>
</table>