<h1 align="center">PERFIL</h1>
<table style="width:100%">
  <tr>
    <th><h2 align="center">Sobre mi:</h2></th>
    <th><h2 align="center">Detalles:</h2></th>
  </tr>
  <tr>
    <th>
      <p align="center">
        Soy una persona a la
        que le gusta trabajar y aprender
        continuamente.
      </p>
    </th>
    <th>
      <p align="center"><b><h3>Nombre completo:</h3></b></p>
      <p align="center">Jorge Carlos Chavez Ruiz</p>
      <p align="center"><b><h3>Edad:</h3></b></p>
      <p align="center">20 años</p>
      <p align="center"><b><h3>Localización:</h3></b></p>
      <p align="center">Cochabamba, Bolivia</p>
    </th>
  </tr>
</table>