<h1 align="center">EXPERIENCIA</h1>
<table style="width:100%">
  <tr>
    <th><h2 align="center">Materias aprobadas:</h2></th>
  </tr>
  <tr>
  </tr>
</table>
<div align="center">
  <li>Taller de programacion</li>
  <li>Redes de computadoras I</li>
  <li>Bases de datos II</li>
  <li>Sistemas web</li>
  <li>Estructuras de datos y algoritmos</li>
  <li>Sistemas operativos</li>
  <li>Bases de datos I</li>
  <li>Investigacion operativa I</li>
  <li>Taller de investigacion</li>
  <li>Programacion II</li>
</div>