<ul class="nav nav-pills">
  <li role="presentation"><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
  <li role="presentation" routerLinkActive="active"><a class="page-scroll" [routerLink]="['perfil']">PERFIL</a></li>
  <li role="presentation" routerLinkActive="active"><a class="page-scroll" [routerLink]="['experiencia']">EXPERIENCIA</a></li>
  <li role="presentation" routerLinkActive="active"><a class="page-scroll" [routerLink]="['habilidades']">HABILIDADES</a></li>
  <li role="presentation" routerLinkActive="active"><a class="page-scroll" [routerLink]="['proyectos']">PROYECTOS</a></li>
</ul>